<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.michaelflisar.universalloader.demo"
    android:versionCode="4"
    android:versionName="1.3" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="Universal Fragment Loader Demo" >
        <activity
            android:name="com.michaelflisar.universalloader.demo.TestActivity"
            android:label="Universal Fragment Loader Demo"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>